.footer {
  background-color: rgb(34, 32, 32);
}

.footercontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.footerlist {
}

.item {
  color: white;
}

.footerlist > li {
  display: inline-block;
  margin: 2rem;
}

.border {
  height: 1rem;
  margin: auto;
  width: 25%;
  border-bottom: 1px solid white;
}

.footertext {
  color: white;
  display: flex;
}

.endlayout {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

@media (max-width: 400px) {
  .endlayout {
    row-gap: 10px;
    margin-bottom: 1rem;
  }

  .footertext {
    align-self: center;
  }
}

@media (max-width: 1024px) {
  .endlayout {
    row-gap: 10px;
    margin-bottom: 1rem;
  }

  .footertext {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .endlayout {
    row-gap: 10px;
    margin-bottom: 2rem;
  }

  .footertext {
    align-self: center;
  }
}
