.welcome {
  background: rgb(0, 100, 102);
  background: linear-gradient(
    360deg,
    rgba(0, 100, 102, 1) 0%,
    rgba(11, 82, 91, 1) 36%,
    rgba(33, 47, 69, 1) 85%
  );
  min-height: 500px;
  /* width: 100vw; */
  display: flex;
}

.welcomeheader {
  font-family: "Roboto Mono", monospace;
  font-size: 4rem;
  color: white;
}

.welcomesubheader {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: white;
}

.welcomecontainer {
  align-self: center;
  margin-left: 10vw;
}

.aboutme {
  display: flex;
  justify-content: space-evenly;
  min-height: 600px;
}

.aboutmeheadercon {
  align-self: center;
  margin-left: 8vw;
  flex: 0 1 auto;
}

.aboutmeheader {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: #312244;
  font-weight: 700;
  padding-right: 5rem;
}

.portrait {
  width: 350px;
  height: 100%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.descontainer {
  background-color: #f4f4f5;
  height: 400px;
  width: 50%;
  flex: 0 1 auto;
  display: flex;
  flex: 0 1 auto;
  align-self: center;
}

.textcontainer {
  width: max-content;
  align-self: center;
  padding: 20px;
}

.textinfo {
  font-family: "Roboto", sans-serif;
  color: #52525b;
  margin: 20px;
  font-size: 1rem;
}

.portcontainer {
  background: rgb(39, 38, 64);
  background: linear-gradient(
    90deg,
    rgba(39, 38, 64, 1) 0%,
    rgba(49, 34, 68, 1) 39%,
    rgba(33, 47, 69, 1) 85%
  );
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portheader {
  margin-top: 4rem;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 5rem;
  text-align: center;
}

.portpar {
  margin-bottom: 4rem;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 200;
  color: white;
}

.contactcontainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec1 {
  /* background-color: red; */
  display: grid;
  grid-template-areas: "one two";
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
  margin: 10%;
}
.sec2 {
  /* background-color: blue; */
  display: grid;
  grid-template-areas: "three four";
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
  margin: 10%;
}
.sec3 {
  /* background-color: green; */
  display: grid;
  grid-template-areas: "five six";
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15rem;
  margin: 10%;
}

.demo1 {
  grid-area: one;
  margin-right: 2rem;
  /* background-color: teal; */
}

.desc1con {
  grid-area: two;
  /* background-color: green; */
  align-self: center;
  text-align: center;
}

.desc1header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #212f45;
}

.desc1 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #212f45;
  margin-bottom: 1rem;
}

.demo2 {
  grid-area: four;
  margin-left: 3rem;
}

.desc2con {
  grid-area: three;
  align-self: center;
  text-align: center;
}

.desc2header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #212f45;
}

.desc2 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #212f45;
  margin-bottom: 1rem;
}

.demo3 {
  grid-area: five;
  margin-right: 3rem;
}

.desc3con {
  grid-area: six;
  align-self: center;
  text-align: center;
}

.desc3header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #212f45;
}

.desc3 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #212f45;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .welcomecontainer {
    margin: 0;
    padding: 1rem;
  }

  .welcomeheader {
    margin-left: 10vw;
    font-size: 2rem;
  }

  .welcomesubheader {
    font-size: 0.8rem;
    text-align: center;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
  }

  .aboutmeheader {
    font-size: 3rem;
  }

  .descontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
  }

  .textcontainer {
    width: 100%;
  }

  .portrait {
    margin: auto;
    margin-bottom: 1rem;
    width: 70%;
    height: 70%;
    box-shadow: 5px 5px 5px 1px lightgray;
  }

  .adjust {
    display: flex;
    flex-direction: column;
  }

  .portcontainer {
    height: 10rem;
  }

  .portheader {
    font-size: 3rem;
  }

  .portpar {
    font-size: 0.85rem;
    padding: 0;
    text-align: center;
  }

  .sec1 {
    grid-template-areas:
      "one"
      "two";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .desc1con {
    grid-area: one;
  }

  .demo1 {
    margin: 1rem auto;
    grid-area: two;
    height: max-content;
  }

  .item1 > a {
    font-size: 0.8rem;
  }

  .item2 > a {
    font-size: 0.5rem;
  }

  .tagcon {
    display: flex;
    flex-wrap: wrap;
  }

  .sec2 {
    grid-template-areas:
      "one"
      "two";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .desc2con {
    grid-area: one;
  }

  .demo2 {
    margin: 1rem auto;
    grid-area: two;
    height: max-content;
  }

  .sec3 {
    grid-template-areas:
      "one"
      "two";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .desc3con {
    grid-area: one;
  }

  .demo3 {
    margin: 1rem auto;
    grid-area: two;
    height: max-content;
  }
}

@media (max-width: 1024px) {
  .welcome {
    width: 100%;
  }

  .welcomecontainer {
    margin-left: 10vw;
    padding: 1rem;
  }

  .welcomeheader {
    font-size: 2rem;
  }

  .welcomesubheader {
    font-size: 0.8rem;
  }

  .aboutme {
    display: flex;
    /* flex-direction: column; */
    margin: 2rem 5rem;
    column-gap: 1rem;
  }

  .aboutmeheadercon {
    margin: 0;
    padding: 0;
  }

  .aboutmeheader {
    font-size: 3rem;
    width: 100%;
  }

  .descontainer {
    width: 70%;
    display: flex;
  }

  .textcontainer {
    width: 60%;
  }

  .textinfo {
    font-size: 0.9rem;
  }

  .portrait {
    aspect-ratio: 0.5;
    box-shadow: 5px 5px 5px 1px lightgray;
  }

  .adjust {
    display: flex;
    flex-direction: column;
  }

  .portcontainer {
    height: 10rem;
  }

  .portheader {
    font-size: 3rem;
  }

  .portpar {
    font-size: 0.85rem;
    padding: 0;
    text-align: center;
  }

  .sec1 {
    grid-template-areas:
      "one"
      "two";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .desc1con {
    grid-area: one;
  }

  .demo1 {
    margin: 1rem auto;
    grid-area: two;
    height: max-content;
  }

  .item1 > a {
    font-size: 0.8rem;
  }

  .item2 > a {
    font-size: 0.5rem;
  }

  .sec2 {
    grid-template-areas:
      "one"
      "two";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .desc2con {
    grid-area: one;
  }

  .demo2 {
    margin: 1rem auto;
    grid-area: two;
    height: max-content;
  }

  .sec3 {
    grid-template-areas:
      "one"
      "two";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .desc3con {
    grid-area: one;
  }

  .demo3 {
    margin: 1rem auto;
    grid-area: two;
    height: max-content;
  }

  .contactcontainer {
    margin-top: 0;
  }
}

/* @media (min-width: 1200px) {
  .welcome {
    padding-left: 10%;
    width: 100%;
  }

  .aboutme {
    margin: 0 20%;
  }

  .portcontainer {
    background-color: red !important;
    height: 30vh;
  }

  .contactcontainer {
    margin: 0 25vw;
  }

  .adjust {
    margin: 0;
  }
} */
